<section>
  <div *ngIf="currentPage" class="page-panel">
    <button (click)="goToPrevPage()" [disabled]="currentPage <= 1">
      &lt; Prev
    </button>
    <span>{{ currentPage }}/{{ totalPageCount }}</span>
    <button (click)="goToNextPage()">Next &gt;</button>
  </div>

  <div class="comic-list">
    <div *ngFor="let comic of comics" class="comic-item">
      <a routerLink="/comics/{{ comic.id }}">
        <div>
          <img [src]="comicService.thumbnailUrl(comic)" alt="" />
        </div>
        <div class="comic-content">
          <h4>{{ comic.title }}</h4>
          <p>{{ comic.description }}</p>
        </div>
      </a>
    </div>
  </div>
</section>
