.comic-item {
  border-top: 1px solid #f20b70;
  min-height: 240px;
}

.comic-item a {
  display: flex;
  padding: 16px;
}

.comic-item a:hover {
  background-color: #f20b7014;
}

.comic-item img {
  width: 140px;
  max-width: 140px;
}

.comic-content {
  padding-left: 20px;
}

.comic-content h4 {
  font-size: 1.2em;
  margin-bottom: 16px;
}

.comic-content p {
  font-size: 0.8rem;
  line-height: 1.6;
}
