.logo {
  max-width: 620px;
  font-size: 45px;
  font-weight: 400;
  color: white;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 56px;
}

.app {
  display: flex;
  flex-direction: column;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-list a {
  display: block;
  color: #fff;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: 1px solid #62f1d2;
  margin-bottom: 40px;
  border-radius: 4px;
}

.nav-list a:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.nav-list a:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.nav-list a:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.nav-list a:hover {
  background-color: #62f1d244;
}

.nav-list a.active {
  background-color: #62f1d2;
  color: #042a3b;
}

.tab-content {
  flex: 1 0 auto;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0.5em 0.5em 1.0em 0.5em;
}
